body {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.control-pannel {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.diapazon-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 4rem;
    background-color: ghostwhite;
    border-radius: 5px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    gap: 8px;
}

.hint {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}